/* All styles for your header Components live here */

.header-container {
    display: flex;
    align-content: flex-start;
}

.header-title {
    display: flex;
    align-items: center;
}

h1 {
    font-size: 14px;
    font-weight: bold;
    padding-right: 5px;
}

h3 {
    font-size: 12px;
    color: gray;
}

p {
    font-size: 14px;
    margin-top: 0;
    line-height: 18px;
    letter-spacing: .2px;
}

.logo {
    width: 50px;
    padding: 10px 10px 0 0;
}