* {
    box-sizing: border-box;
}

.calc {
    display: flex;
    flex-wrap: wrap;
}

button {
    height: 75px;
    border: .5px solid #979797;
    font-size: 40px;
    color: #222222;
}

.clear {
    width: 75%;
    background-color: white;
}

.zero {
    width: 75%;
    background-color: white;
    font-weight: bold;
}

.red {
    width: 25%;
    background-color: #A0001E;
    color: white;
}

.number{
    width: 25%;
    background-color: white;
    font-weight: bold;
}
